@import url("https://fonts.google.com/specimen/Poppins&display=swap&subset=latin-ext&weight=200,400,600");
:root {
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
  color: var(--dark-blue);
  font-size: clamp(14px, 2vw, 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

footer {
  font-weight: lighter;
  margin-top: 3rem;
  color: var(--grayish-blue);
}
footer a {
  color: hsl(0, 100%, 67%);
}

h1 {
  font-size: clamp(1.25rem, 4vw, 2rem);
  margin-bottom: 1rem;
  color: var(--grayish-blue);
  font-weight: lighter;
}
h2 {
  font-size: clamp(1.25rem, 4vw, 2rem);
  color: var(--dark-blue);
  margin-bottom: 1rem;
}
p {
  max-width: 500px;
  margin: 0 auto;
  color: var(--grayish-blue);
  line-height: 1.6;
  font-size: clamp(0.9rem, 2vw, 1rem);
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
}
.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
  align-self: center;
}
.card h3 {
  margin-bottom: 1rem;
  color: var(--dark-blue);
}
.card p {
  color: var(--grayish-blue);
  line-height: 1.5;
}
.team-karma {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
}
.card:has(.icon-supervisor) {
  border-top: 0.25rem solid hsl(180, 66%, 49%);
}
.card:has(.icon-team-builder) {
  border-top: 0.25rem solid hsl(0, 100%, 67%);
}
.card:has(.icon-karma) {
  border-top: 0.25rem solid orange;
}
.card:has(.icon-calculator) {
  border-top: 0.25rem solid hsl(231, 69%, 60%);
}
span:has(img) {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}
span:has(img) img {
  background-color: transparent;
  margin-top: 1rem;
  align-self: end;
}

@media screen and (width >= 1440px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
    width: 100%;
    max-width: 75vw;
    max-height: 75vh;
  }
  .card {
    width: 100%;
    height: 45%;
    padding: 1.5rem;
  }
  .team-karma {
    width: fit-content;
    height: min-content;
  }
}
